"*":
  "atom-beautify":
    general:
      analytics: false
  "autocomplete-plus":
    useCoreMovementCommands: false
  "autocomplete-python": {}
  core: {}
  "disable-keybindings":
    allCommunityPackages: true
    exceptCommunityPackages: [
      "atomic-emacs"
    ]
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "f604da4e-6532-638b-e391-89b0883bd13b"
  linter: {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "python-tools":
    pythonPath: "C:\\Users\\Ryo\\Anaconda3"
  welcome:
    showOnStartup: false
